

<app-navbar></app-navbar>
  
  <!-- page content -->
  <button type="button" (click)="onInstitutionFinFormSubmit();">Afficher</button>
  <div class="right_col" role="main">
      <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
          <button type="button" class="btn btn-secondary active" id="switchActif">Configurer</button>
<button type="button" class="btn btn-secondary disabled"> Enregistrer </button>
</div>
          </div>
          <form [formGroup]="articleForm">
      <div  id="groupe" disabled="disabled">
          <label for="email" class="color" ><b>Nom </b></label>
  
          <div class="font">
          <input type="text" placeholder="Entrer le nom" name="NomE" required> 
          <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
        </div>
          
        <label for="email" class="color" ><b>Email</b></label>
         
        <div class="font">
           <input type="text" placeholder="Enter Email" name="email" required  >
          <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>
          </div>
    
         <div class=".col-xs-12 .col-md-8" style="border:0px solid">
          <label for="Adress" class="color" ><b>Adresse</b></label>
          <div class="font">
          <input type="text" placeholder="Entrer votre adresse " name="Adresse" required> 
          <i class="glyphicon glyphicon-home" aria-hidden="true"></i></div>
        </div>
    
         <b><label for="MatFiscale" class="color" ><b> Matricule Fiscale </b></label></b>
         <div class="font">
           <input type="text" placeholder="Entrer votre Matricule fiscale" name="Matfisc" required> 
           <i class="fa fa-address-card" aria-hidden="true"></i>
         </div>
          <b><label for="email" class="color" ><b>Nom Président Directeur Génerale (PDG) </b></label></b>
          <div class="font">
            <input type="text" placeholder="Entrer le nom" name="PDG" required> 
            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
          </div>
          <div class="row">
          <div class="col-md-6">
          <label for="N°tel" class="color" ><b> N°Tèléphone Mobile </b></label>
          <div class="font">
          <input type="text" placeholder=" Entrer N°Tèl" name="N°tèl" required>
          <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i></div></div>
    <div class="col-md-0.5"></div>
    <div class="col-md-6">
          <label for="N°fax" class="color" ><b> N°Fax </b></label>
          <div class="font">
          <input type="text" placeholder="Entrer N°Fax" name="fax" required>
          <i class="glyphicon glyphicon-phone-alt" value="+216" aria-hidden="true"></i>
        </div></div>
      </div>
             
      <div>
      <label for="psw" class="color" ><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <label for="psw-repeat" class="color" ><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
        
    </div>
    </div>
  </form>
          <!-- /page content -->
  
          <!-- footer content -->
          
          <!-- /footer content -->
      
