
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }
  .col-md-12{
    background-image:url( https://images2.alphacoders.com/464/464234.jpg);
    background-size: cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
  }
  .color{
    color: whitesmoke;
  }
  input[type=text]
  {
    padding-left:50px;
  
  }
  .font{
    position: relative;
  }
  .font i{
    position: absolute;
    left: 5px;
    top: 11px;
    padding: 11px 8px ;
  }
  .far fa-edit fa-lg{
    opacity: 5px;
  }
  input[type=tel]
  {
    padding-left:50px;
    width: 250px;
  }
  input[type=tel].glyphicon-phone-alt{
   position: relative;
    padding-bottom: 15px;
    padding-top: -10px;
  }
  .date{
    width: 250px;
    text-align: center;
    position: relative;
    text-emphasis: none;
  }
  i text{
    position: absolute;
    left: 5px;
    top: 11px;
    padding: 11px 8px ;
  }
  .btn-default{
    color: whitesmoke;
    size: 20px;
  
  }
  .dropdown-menu hover:li {
    visibility: visible;
  
  }

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
.col-md-12{
       
  background-size: cover;
  background-attachment:scroll;
  background-repeat: no-repeat;
  background-image: url("/assets/backgroundapp.JPG") 
}

.color{
  color: #424242
}
input[type=text]
{
  padding-left:50px;

}
.font{
  position: relative;
}
.font i{
  position: absolute;
  left: 5px;
  top: 11px;
  padding: 11px 8px ;
}
.far fa-edit fa-lg{
  opacity: 5px;
}
input[type=tel]
{
  padding-left:50px;
  width: 250px;
}
input[type=tel].glyphicon-phone-alt{
 position: relative;
  padding-bottom: 15px;
  padding-top: -10px;
}
.date{
  width: 250px;
  text-align: center;
  position: relative;
  text-emphasis: none;
}
i text{
  position: absolute;
  left: 5px;
  top: 11px;
  padding: 11px 8px ;
}
.btn-default{
  color: whitesmoke;
  size: 20px;

}
.dropdown-menu hover:li {
  visibility: visible;

}
.input-sm{
  width: 100%;
  margin: 3% 0% 3% 0% ;
}
.dropdown{
  width: 100%;
  margin: 3% 0% 3% 0% ;
}
.row{
  height: 30%;
  margin-bottom: 2%;
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */

input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}


.red{
  color: #f44336;
  size: 5px;
  text-align: left;
}